<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Registration form</title>
</head>

<body>
<form action="" method="get"><table width="200" border="1">
  <tr>
    <td>First name</td>
    <td><label>
      <input type="text" name="textfield" />
    </label></td>
  </tr>
  <tr>
    <td>Last name </td>
    <td><label>
      <input type="text" name="textfield2" />
    </label></td>
  </tr>
  <tr>
    <td>Date of birth </td>
    <td><label>
      <input type="text" name="textfield3" />
    </label></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><label>
      <input name="radiobutton" type="radio" value="radiobutton" />
    </label></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><label>
      <input type="text" name="textfield4" />
    </label></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><label>
      <input type="text" name="textfield5" />
    </label></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><label>
      <input type="password" name="textfield6" />
    </label></td>
  </tr>
  <tr>
    <td height="50">Conform password </td>
    <td><label>
      <input type="password" name="textfield7" />
    </label></td>
  </tr>
</table>
</form>
</body>
</html>
